# Repos
# -------------------------
# Each repo included should define the following properties:
#
# IMPORTANT: Replace all dashes ('-') with dots in <repo>. For example,
#            'indy-test-automation', becomes 'indy.test.automation' in this
#            properties file.
#
# Example superset of properties:
#

# Path
# ~~~~
# The full path to the cloned repo on your workstation. Leave this blank or
# undefined and define a development.repos.<repo>.url to have the Vagrantfile
# clone the repo for you.
#repos.<repo>.path=<path to cloned repo directory>

# URL
# ~~~~
# Where to clone a copy of the repository. You will be prompted for a username if
# the URL contains "<USERNAME>".
#repos.<repo>.url=<forked repo url with '<USERNAME>' in it>

# Branch
# ~~~~~~
# The branch to checkout before running CI/CD targets
#repos.<repo>.branch=<branch>

# Indy Node
repos.indy.node.path=
repos.indy.node.url=git@github.com:<USERNAME>/indy-node.git
repos.indy.node.git.private.key=~/.ssh/id_rsa
repos.indy.node.branch=master

# Indy Test Automation
repos.indy.test.automation.path=
repos.indy.test.automation.url=git@github.com:<USERNAME>/indy-test-automation.git
repos.indy.test.automation.git.private.key=~/.ssh/id_rsa
repos.indy.test.automation.branch=master

# Sovrin Test Automation
repos.sovrin.test.automation.path=
repos.sovrin.test.automation.url=git@github.com:<USERNAME>/sovrin-test-automation.git
repos.sovrin.test.automation.git.private.key=~/.ssh/id_rsa
repos.sovrin.test.automation.branch=master

# Number of clients
client.count=<CLIENTCOUNT>

# Number of nodes
validator.count=<VALIDATORCOUNT>

# Client VM Config
client.box=bento/ubuntu-16.04
client.cpus='1'
client.memory='1024'

# Validator VM Config
validator.box=bento/ubuntu-16.04
validator.cpus='1'
validator.memory='1024'
